<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ecommerce</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">cytech0001</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="marketplace.ProjetJ2EE_SpringBoot.model.Administrateur" />
        <mapping class="marketplace.ProjetJ2EE_SpringBoot.model.Client" />
        <mapping class="marketplace.ProjetJ2EE_SpringBoot.model.Commande"/>
        <mapping class="marketplace.ProjetJ2EE_SpringBoot.model.CompteBancaire"/>
        <mapping class="marketplace.ProjetJ2EE_SpringBoot.model.DetailCommande"/>
        <mapping class="marketplace.ProjetJ2EE_SpringBoot.model.Paiement"/>
        <mapping class="marketplace.ProjetJ2EE_SpringBoot.model.Produit"/>
        <mapping class="marketplace.ProjetJ2EE_SpringBoot.model.Role"/>
        <mapping class="marketplace.ProjetJ2EE_SpringBoot.model.StatutCommande"/>
        <mapping class="marketplace.ProjetJ2EE_SpringBoot.model.Utilisateur"/>
    </session-factory>
</hibernate-configuration>
